html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
	display: block
}

*[hidden] {
	display: none
}

body {
	line-height: 1
}

menu,
ol,
ul {
	list-style: none
}

blockquote,
q {
	quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

@font-face { 
    font-family: 'Traackr Displaay';
    font-style: normal;
    font-weight: 700;
    font-display: block;
    src: url("https://s3.us-east-1.amazonaws.com/ds-assets.traackr.com/fonts/traackr-displaay/bold/TraackrDisplaay-Bold.woff2") format("woff2");
  }

@media (min-width: 769px) and (max-width: 1120px) {
	:root {
		--desktop-content--x-padding: 48px
	}
}

@media (min-width: 1120px) and (max-width: 1440px) {
	:root {
		--desktop-content--x-padding: 64px
	}
}

@media (min-width: 1441px) and (max-width: 1679px) {
	:root {
		--desktop-content--x-padding: 76px
	}
}

@media (min-width: 1680px) {
	:root {
		--desktop-content--x-padding: 124px
	}
}



h1 {
	font-size: 40px;
	font-weight: 500;
	line-height: 90%;
	letter-spacing: 0;
	font-family: Inter, Helvetica Neue, Helvetica, sans-serif
}

@media (min-width: 768px) {
	h1 {
		font-size: 72px;
		line-height: 100%;
		letter-spacing: -.36px
	}
}

h2 {
	font-size: 32px;
	font-weight: 500;
	line-height: 110%;
	letter-spacing: 0;
	font-family: Inter, Helvetica Neue, Helvetica, sans-serif
}

@media (min-width: 768px) {
	h2 {
		font-size: 60px;
		line-height: 100%
	}
}

h3 {
	font-size: 23px;
	font-weight: 400;
	line-height: 120%;
	letter-spacing: 0;
	font-family: Inter, Helvetica Neue, Helvetica, sans-serif
}

@media (min-width: 768px) {
	h3 {
		font-size: 36px;
		letter-spacing: -.36px
	}
}

h4 {
	font-size: 20px;
	font-weight: 400;
	line-height: 140%;
	letter-spacing: 0;
	font-family: Inter, Helvetica Neue, Helvetica, sans-serif
}

@media (min-width: 768px) {
	h4 {
		font-size: 30px;
		line-height: 120%
	}
}

h5 {
	font-size: 18px;
	font-weight: 500;
	line-height: 140%;
	letter-spacing: 0;
	font-family: Inter, Helvetica Neue, Helvetica, sans-serif
}

@media (min-width: 768px) {
	h5 {
		font-size: 24px;
		line-height: 120%
	}
}

h6 {
	font-size: 12px;
	font-weight: 500;
	line-height: 150%;
	letter-spacing: 0;
	font-family: Inter, Helvetica Neue, Helvetica, sans-serif
}

@media (min-width: 768px) {
	h6 {
		font-size: 16px;
		letter-spacing: .4px
	}
}

p {
	font-size: 14px;
	font-weight: 300;
	line-height: 150%;
	letter-spacing: .28px;
	font-family: Inter, Helvetica Neue, Helvetica, sans-serif
}

@media (min-width: 768px) {
	p {
		font-size: 16px;
		letter-spacing: .32px
	}
}

a {
	font-size: 14px;
	font-weight: 500;
	line-height: 150%;
	letter-spacing: 0;
	font-family: Inter, Helvetica Neue, Helvetica, sans-serif
}

@media (min-width: 768px) {
	a {
		font-size: 16px
	}
}

._logo-link_znbpc_1 {
	display: flex;
	align-items: center
}

._logo-link_znbpc_1 ._logo-link__traackr-icon_znbpc_5 {
	fill: var(--logo-link__traackr-icon--color)
}

._logo-link_znbpc_1 ._logo-link__text_znbpc_8 {
	fill: var(--logo-link__text--color)
}

/* VARIABLES */
._header_znbpc_12 {
    --glow-purple: #6246B4;
    --desktop-content--x-padding: 24px;
    --desktop-content--width: calc(100% - var(--desktop-content--x-padding) * 2);
    --transition-duration-short: 75ms;
    --transition-duration: .15s;
    --transition-duration-med: 225ms;
    --transition-duration-long: .3s;
    --transition-duration-xlong: .45s;
	--header-color-black-1: #727272;
	--header-color-black-2: #0d0e10;
	--header-color-black-3: #2a2b2d;
	--header-color-black-4: #151b26;
	--header-color-black-5: #222b37;
	--header-color-black-6: #474748;
    --color-gray-5: #FCFCFC;
    --color-gray-10: #F7F7F7;
    --color-gray-20: #EFEFEF;
    --color-gray-30: #DDDDDD;
    --color-gray-40: #C8C8C8;
    --color-gray-50: #ADADAD;
    --color-gray-60: #8C8C8C;
    --color-gray-70: #6C6C6C;
    --color-gray-80: #4E4E4E;
    --color-gray-90: #3D3D3D;
    --color-gray-95: #222222;
	--header-color-grey-1: #f5f4f3;
	--header-color-grey-2: #fafaf9;
	--header-color-grey-3: #e0e6e8;
	--header-color-grey-4: #e0dedc;
	--header-color-grey-5: #f0f0ff;
	--header-color-grey-6: #f6f8f9;
	--header-color-grey-7: #eeebea;
	--header-color-grey-8: #edf1f2;
	--header-color-grey-9: #9ca6af;
	--header-color-grey-10: #646f79;
	--header-color-grey-11: #a5a4a3;
	--header-color-white-1: #ffffff;
	--header-color-blue-1: #4573d2;
	--header-color-orange-1: #f06a6a;
	--header-color-orange-2: #ff7f00;
	--header-color-purple-1: #6246B4;
	--header-color-purple-2: #796eff;
	--header-color-green-1: #25e8c8;
	--header-text-color: var(--color-gray-70);
	--header-text-hover-color: var(--header-color-black-2);
	--header-background-color: var(--header-color-white-1);
	--header-right-hover-color: var(--header-color-black-2);
	--button-cta-background-color: var(--header-color-black-2);
	--button-cta-text-color: var(--header-color-white-1);
	--button-cta-hover-background-color: var(--header-color-purple-1);
	--button-cta-hover-text-color: var(--header-color-black-2);
	--button-cta-secondary-background-color: var(--header-color-white-1);
	--button-cta-secondary-text-color: var(--header-color-black-2);
	--button-cta-secondary-hover-background-color: var(--header-color-purple-1);
	--button-cta-secondary-hover-text-color: var(--header-color-black-2);
	--language-selector-globe-color: var(--header-color-black-1);
	--language-selector-globe-hover-color: var(--header-color-black-2);
	--z-index-background: 1000;
	--z-index-navbar-background: 1001;
	--z-index-front-content: 1002;
	--logo-link__traackr-icon--color: var(--glow-purple);
	--logo-link__text--color: var(--coral-1000);
	--header--height: 56px;
	--desktop-content--width: calc(100% - var(--desktop-content--x-padding) * 2);
	--dropdown-footer--height: 45px;
	--dropdown-body-max-height: calc(80vh - var(--header--height) - var(--dropdown-footer--height));
	--desktop-main-template-columns: [full-width-start] var(--desktop-content--x-padding) [content-start] var(--desktop-content--width) [content-end] var(--desktop-content--x-padding) [full-width-end];
	--mobile-main-padding-width: var(--desktop-content--x-padding);
	--mobile-main-template-columns: [full-width-start] var(--mobile-main-padding-width) [content-start] 1fr [content-end] var(--mobile-main-padding-width) [full-width-end];
	--header--bottom-position: 0;
	--dropdown-body--height: 0;
	font-smooth: always;
	-webkit-font-smoothing: antialiased;
    -moz-font-smoothing: auto;
	-moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
	position: relative;
	top: 0;
	max-width: 100%;
	visibility: visible !important;
	z-index: var(--z-index-navbar-background)
}

._header_znbpc_12:not(._header--state-scrolling_znbpc_74):not(._header--state-open_znbpc_74) ._main-navigation--background-transparent_znbpc_74 {
	--header-background-color: transparent;
	--button-cta-secondary-background-color: transparent
}

._header_znbpc_12:not(._header--state-scrolling_znbpc_74):not(._header--state-open_znbpc_74):not(._header--theme-dark_znbpc_78) ._main-navigation--background-transparent_znbpc_74 {
	--header-text-color: var(--color-black-2)
}

._header_znbpc_12 .show-desktop {
	display: none
}

@media (min-width: 1120px) {
	._header_znbpc_12 {
		--header--height: 56px
	}

	._header_znbpc_12 .show-desktop {
		display: flex
	}

	._header_znbpc_12._header--theme-dark_znbpc_78:not(._header--state-scrolling_znbpc_74):not(._header--state-open_znbpc_74) {
		--header-background-color: var(--header-color-black-3);
		--header-text-color: var(--header-color-white-1);
		--header-text-hover-color: var(--header-color-white-1);
		--header-right-hover-color: var(--header-color-purple-1);
		--button-cta-background-color: var(--color-gray-10);
		--button-cta-text-color: var(--header-color-black-2);
		--button-cta-hover-text-color: var(--header-color-black-2);
		--button-cta-secondary-background-color: var(--header-color-black-3);
		--button-cta-secondary-text-color: var(--header-color-white-1);
		--button-cta-secondary-hover-background-color: var(--header-color-white-1);
		--button-cta-secondary-hover-text-color: var(--header-color-black-2);
		--logo-link__traackr-icon--color: var(--header-color-white-1);
		--logo-link__text--color: var(--header-color-white-1);
		--language-selector-globe-color: var(--header-color-white-1);
		--language-selector-globe-hover-color: var(--header-color-purple-1)
	}
}

._header_znbpc_12 ul {
	padding-left: 0;
	margin-bottom: 0
}

._header_znbpc_12._header--state-scrolling_znbpc_74 {
	box-shadow: 0 2px 12px #24324214
}

._itemWrapper_znbpc_117 {
	display: flex;
	justify-content: center;
	align-items: center
}

._main-navigation_znbpc_74 {
	position: relative;
	max-width: 100%;
	height: var(--header--height);
	display: grid;
	grid-template-columns: var(--mobile-main-template-columns);
	background-color: var(--header-background-color);
	z-index: var(--z-index-front-content)
}

@media (min-width: 1120px) {
	._main-navigation_znbpc_74 {
		grid-template-columns: var(--desktop-main-template-columns);
		z-index: auto
	}
}

._main-navigation_znbpc_74 ._main-navigation__content_znbpc_138 {
	grid-column: content;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	z-index: var(--z-index-front-content)
}

._main-navigation_znbpc_74 ._main-navigation__content_znbpc_138 .logo-link,
._main-navigation_znbpc_74 ._main-navigation__content_znbpc_138 .language-selector {
	margin-right: 32px
}

._headerTabList_znbpc_152 {
	display: flex;
	flex-flow: row nowrap
}

._flex-spacer_znbpc_157 {
	flex-grow: 1
}

._separator_znbpc_161 {
	border-right: 1px solid var(--black-100);
	height: 24px;
	width: 0;
	margin-right: 8px
}

._logo-link_yq7kn_1 {
	display: flex;
	align-items: center
}

._logo-link_yq7kn_1 ._logo-link__traackr-icon_yq7kn_5 {
	fill: var(--logo-link__traackr-icon--color)
}

._logo-link_yq7kn_1 ._logo-link__text_yq7kn_8 {
	fill: var(--logo-link__text--color)
}

._language-selector_7hws0_1 {
	height: 20px;
	width: 20px;
	position: relative;
	overflow: inherit;
	margin-left: 4px
}

._language-selector_7hws0_1:hover ._language-selector__globe_7hws0_8,
._language-selector_7hws0_1:focus ._language-selector__globe_7hws0_8 {
	fill: var(--language-selector-globe-hover-color);
	transition: fill .3s ease-in-out
}

@media (max-width: 560px) {
	._language-selector_7hws0_1 {
		display: none
	}
}

._language-selector_7hws0_1 ._language-selector__label_7hws0_17:hover {
	cursor: pointer
}

._language-selector_7hws0_1 ._language-selector__select_7hws0_20 {
	opacity: 0;
	border: none;
	box-shadow: none;
	border-radius: 0;
	color: var(--header-color-white-1);
	background: transparent;
	height: 100%;
	width: 100%;
	cursor: pointer;
	outline: none;
	padding-right: 35px;
	padding-left: 15px;
	appearance: none
}

._language-selector_7hws0_1 ._language-selector__select_7hws0_20:focus+svg {
	border-color: var(--color-gray-40);
	background: var(--color-gray-40);
	outline: 2px solid var(--header-color-blue-1);
	outline-offset: 2px;
	transition: outline .1s ease-in-out, background .2s ease-in-out
}

._language-selector_7hws0_1 ._language-selector__select_7hws0_20:focus+svg ._language-selector__globe_7hws0_8 {
	fill: var(--header-color-black-2);
	transition: fill .3s ease-in-out
}

._language-selector_7hws0_1 ._language-selector__select_7hws0_20:focus {
	background: none;
	border-color: transparent;
	color: inherit
}

._language-selector_7hws0_1 ._language-selector__icon_7hws0_51 {
	pointer-events: none;
	position: absolute;
	border: 3px solid transparent;
	border-right-width: 4px;
	border-left-width: 4px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: transparent;
	border-radius: 3px;
	box-sizing: border-box
}

._language-selector_7hws0_1 ._language-selector__globe_7hws0_8 {
	fill: var(--language-selector-globe-color)
}

._scrim_omg63_1 {
	--z-index-background: 1000;
	position: fixed;
	height: 100dvh;
	width: 100%;
	pointer-events: none;
	z-index: var(--z-index-background)
}

@media (min-width: 1120px) {
	._scrim_omg63_1._scrim--state-show_omg63_10 {
		background-color: #000;
		opacity: .1;
		pointer-events: all
	}
}

._hamburger-button_a7ow8_1 {
	cursor: pointer;
	height: 100%;
	right: 0;
	top: 0;
	width: 66px;
	position: relative;
	background-color: transparent;
	padding: 0;
	border: none
}

._hamburger-button_a7ow8_1:focus {
	outline: 2px solid var(--header-color-blue-1);
	outline-offset: 2px;
	transition: outline .1s ease-in-out, background .2s ease-in-out
}

._hamburger-button_a7ow8_1:hover {
	background-color: transparent;
	outline: none
}

@media (min-width: 1120px) {
	._hamburger-button_a7ow8_1 {
		display: none
	}
}

._hamburger-button_a7ow8_1 ._hamburger-button__icon_a7ow8_26 {
	top: 50%;
	left: 50%;
	transform-origin: center;
	transform: translate(-50%, -50%)
}

._hamburger-button_a7ow8_1 ._hamburger-button__icon_a7ow8_26,
._hamburger-button_a7ow8_1 ._hamburger-button__icon_a7ow8_26:before,
._hamburger-button_a7ow8_1 ._hamburger-button__icon_a7ow8_26:after {
	border-radius: 1px;
	height: 2px;
	width: 16px;
	background-color: var(--header-color-black-1);
	display: block;
	position: absolute;
	transition: all 225ms ease-in-out
}

._hamburger-button_a7ow8_1 ._hamburger-button__icon_a7ow8_26:before,
._hamburger-button_a7ow8_1 ._hamburger-button__icon_a7ow8_26:after {
	content: "";
	top: 0;
	left: 0
}

._hamburger-button_a7ow8_1 ._hamburger-button__icon_a7ow8_26:before {
	animation: _hamburger-menu-close-bottom_a7ow8_1 .8s cubic-bezier(0, 1.02, 1, 1.01) forwards
}

._hamburger-button_a7ow8_1 ._hamburger-button__icon_a7ow8_26:after {
	animation: _hamburger-menu-close-top_a7ow8_1 .8s cubic-bezier(0, 1.02, 1, 1.01) forwards
}

._hamburger-button_a7ow8_1 ._hamburger-button__icon--state-open_a7ow8_52 {
	transition-delay: .2s;
	transform: translate(-50%, -50%) rotate(135deg)
}

._hamburger-button_a7ow8_1 ._hamburger-button__icon--state-open_a7ow8_52:before {
	animation: _hamburger-menu-open-bottom_a7ow8_1 .8s cubic-bezier(0, 1.02, 1, 1.01) forwards
}

._hamburger-button_a7ow8_1 ._hamburger-button__icon--state-open_a7ow8_52:after {
	animation-delay: .8s;
	animation: _hamburger-menu-open-top_a7ow8_1 .8s cubic-bezier(0, 1.02, 1, 1.01) forwards
}

@keyframes _hamburger-menu-open-bottom_a7ow8_1 {
	0% {
		transform: translateY(6px)
	}

	30% {
		transform: translateY(0)
	}

	to {
		transform: translateY(0)
	}
}

@keyframes _hamburger-menu-open-top_a7ow8_1 {
	0% {
		transform: translateY(-6px)
	}

	30% {
		transform: translateY(0)
	}

	to {
		transform: translateY(0) rotate(90deg)
	}
}

@keyframes _hamburger-menu-close-bottom_a7ow8_1 {
	0% {
		transform: translateY(0)
	}

	30% {
		transform: translateY(0)
	}

	to {
		transform: translateY(6px)
	}
}

@keyframes _hamburger-menu-close-top_a7ow8_1 {
	0% {
		transform: translateY(0) rotate(90deg)
	}

	30% {
		transform: translateY(0)
	}

	to {
		transform: translateY(-6px)
	}
}

._mobile-drawer_cgbkp_1 {
	--mobile-drawer__body--x-pading: 24px;
	--mobile-drawer__dropdown--height: 52px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: calc(100dvh - var(--header--bottom-position));
	background-color: var(--header-color-white-1);
	border-bottom: 1px solid var(--color-gray-20);
	opacity: 0;
	transition: transform .15s ease-in, opacity .15s ease-out;
	z-index: var(--z-index-background)
}

@media (min-width: 1120px) {
	._mobile-drawer_cgbkp_1 {
		display: none
	}
}

._mobile-drawer_cgbkp_1._mobile-drawer--state-open_cgbkp_22 {
	transform: translateY(100%);
	opacity: 1
}

._mobile-drawer_cgbkp_1 ._mobile-drawer__body_cgbkp_26 {
	max-height: calc(100% - 42px);
	overflow-y: scroll
}

._mobile-drawer_cgbkp_1 ._mobile-drawer__items_cgbkp_30 {
	display: flex;
	flex-direction: column
}

._mobile-drawer_cgbkp_1 ._mobile-drawer__dropdown-wrapper_cgbkp_34 {
	overflow: hidden;
	transition: height .3s ease-in-out;
	min-height: var(--mobile-drawer__dropdown--height)
}

._mobile-drawer_cgbkp_1 ._mobile-drawer__dropdown_cgbkp_34 {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: var(--mobile-drawer__dropdown--height) !important;
	padding: 0 var(--mobile-drawer__body--x-pading);
	border: 0;
	border-top: 1px solid var(--color-gray-20);
	color: var(--header-color-black-4);
	font-size: 16px;
	font-weight: 500;
	font-family: Inter, Helvetica Neue, Helvetica, sans-serif;
	letter-spacing: 0;
	background-color: transparent !important
}

._mobile-drawer_cgbkp_1 ._mobile-drawer__dropdown--state-open_cgbkp_55 {
	background-color: var(--color-gray-20) !important;
	border-top-width: 0;
	width: calc(100% + 48px)
}

._mobile-drawer_cgbkp_1 ._mobile-drawer__link_cgbkp_60 {
	display: flex;
	align-items: center;
	text-decoration: none;
	height: 52px;
	padding: 0 var(--mobile-drawer__body--x-pading);
	border-top: 1px solid var(--color-gray-20);
	color: var(--header-color-black-4);
	font-size: 16px;
	letter-spacing: 0
}

._mobile-drawer_cgbkp_1 ._mobile-drawer__link_cgbkp_60:last-child {
	border-bottom: 1px solid var(--color-gray-20)
}

._mobile-drawer_cgbkp_1 ._mobile-drawer__section-items_cgbkp_74 {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	transition: height .3s;
	padding-top: 26px
}

._mobile-drawer_cgbkp_1 ._hamburger-section_cgbkp_81 {
	padding: 10px var(--mobile-drawer__body--x-pading) 22px;
	display: flex;
	flex-direction: column
}

._mobile-drawer_cgbkp_1 ._hamburger-section--featured_cgbkp_86 {
	position: relative;
	padding-top: 30px;
	background-color: var(--color-gray-30)
}

._mobile-drawer_cgbkp_1 ._hamburger-section__name_cgbkp_91 {
	font-size: 12px;
	font-weight: 500;
	text-transform: uppercase;
	line-height: 1;
	letter-spacing: 1px;
	padding-bottom: 16px;
	border-bottom: 1px solid var(--color-gray-20);
	margin-bottom: 16px
}

._mobile-drawer_cgbkp_1 ._hamburger-section__items_cgbkp_101 {
	padding-bottom: 16px
}

._mobile-drawer_cgbkp_1 ._hamburger-section__item_cgbkp_101 {
	list-style: none;
	margin-bottom: 30px
}

._mobile-drawer_cgbkp_1 ._mobile-drawer-buttons_cgbkp_108 {
	display: flex;
	flex-direction: column;
	gap: 16px;
	padding: 24px
}

@media (min-width: 768px) {
	._mobile-drawer_cgbkp_1 ._mobile-drawer-buttons_cgbkp_108 {
		display: none
	}
}

._card-link_cgbkp_120 {
	display: flex;
	flex-direction: column;
	gap: 8px;
	text-decoration: none
}

._card-link_cgbkp_120 ._card-link__name_cgbkp_126 {
	position: relative;
	font-size: 14px;
	font-weight: 400;
	color: var(--header-color-black-4);
	line-height: 21px;
	display: flex;
	flex-wrap: nowrap
}

@media (min-width: 1120px) {
	._card-link_cgbkp_120 {
		padding: 0
	}
}

._card-link_cgbkp_120 ._card-link__name_cgbkp_126>svg:first-child {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0
}

._card-link_cgbkp_120 ._card-link__name_cgbkp_126>svg:last-child {
	margin-left: 8px;
	fill: var(--header-color-black-1) !important;
	align-self: center
}

._card-link_cgbkp_120 ._card-link__name--pad-left_cgbkp_151 {
	padding-left: 32px
}

@media (min-width: 1120px) {
	._card-link_cgbkp_120 ._card-link__name--pad-left_cgbkp_151 {
		padding-left: 30px
	}
}

._card-link_cgbkp_120 ._card-link__name--is-bold_cgbkp_159 {
	font-weight: 500
}

._card-link_cgbkp_120 ._card-link__summary_cgbkp_162 {
	display: inline-block;
	font-size: 12px;
	line-height: 1.6;
	color: var(--header-color-black-5);
	font-weight: 400;
	margin-bottom: 12px !important
}

._card-link_cgbkp_120:hover:before {
	--extra-padding: 10px;
	content: "";
	position: absolute;
	border-radius: 4px;
	width: calc(100% + var(--extra-padding) * 2);
	height: calc(100% + var(--extra-padding) * 2);
	top: calc(-1 * var(--extra-padding));
	left: calc(-1 * var(--extra-padding));
	background-color: var(--link-card__background-color, var(--color-gray-10));
	z-index: -1;
	opacity: 1;
	transform: scale(1.1);
	transition: opacity 80ms linear
}

._card-link_cgbkp_120:hover ._card-link__name_cgbkp_126>svg:last-child {
	animation: _slide-right_cgbkp_1 .5s cubic-bezier(.25, .46, .45, .94) infinite alternate both
}

@keyframes _slide-right_cgbkp_1 {
	0% {
		transform: translateY(0)
	}

	to {
		transform: translate(50%)
	}
}

._dropdown-footer_cgbkp_197 {
	--dropdown-footer--height: 45px;
	--desktop-main-template-columns: [full-width-start] var(--desktop-content--x-padding) [content-start] var(--desktop-content--width) [content-end] var(--desktop-content--x-padding) [full-width-end];
	display: grid;
	grid-template-columns: 1fr;
	height: 22px;
	padding: 10px 0;
	background-color: var(--color-gray-40);
	justify-content: center;
	color: var(--header-color-black-6);
	font-size: 12px
}

@media (min-width: 1120px) {
	._dropdown-footer_cgbkp_197 {
		grid-column: full-width;
		height: var(--dropdown-footer--height);
		grid-template-columns: var(--desktop-main-template-columns)
	}
}

._dropdown-footer_cgbkp_197 ._dropdown-footer__buttons_cgbkp_219 {
	display: grid;
	grid-template-columns: 1fr auto 1fr auto 1fr
}

@media (min-width: 1120px) {
	._dropdown-footer_cgbkp_197 ._dropdown-footer__buttons_cgbkp_219 {
		grid-column: content;
		display: flex;
		align-items: center;
		gap: 5rem;
	}
}

._dropdown-footer_cgbkp_197 ._dropdown-footer__button_cgbkp_219 {
	display: flex;
	justify-content: center;
	font-size: 12px;
	text-decoration: none;
	color: var(--header-color-black-6)
}

._dropdown-footer_cgbkp_197 ._dropdown-footer__button_cgbkp_219:hover {
	color: var(--header-color-black-2)
}

._dropdown-footer_cgbkp_197 ._dropdown-footer__separator_cgbkp_241 {
	width: 1px;
	height: 21px;
	background-color: var(--header-color-grey-11)
}

._ctaLinkLink_12l1f_1 {
	font-size: 14px;
	padding: 0 12px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	transition-property: color;
	transition-duration: var(--transition-duration-long);
	color: var(--header-text-color);
	font-smooth: always;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	position: relative
}

._ctaLinkLink_12l1f_1:hover {
	color: var(--header-text-hover-color);
	text-decoration: none
}

._ctaLinkLink_12l1f_1:after {
	content: " ";
	width: calc(100% - 24px);
	position: absolute;
	left: 12px;
	bottom: 0;
	border-bottom: 3px solid var(--glow-purple);
	opacity: 0;
	transition: opacity var(--transition-duration-long)
}

._ctaLinkLink_12l1f_1:hover:after {
	opacity: 1
}

._ctaLinkLink_12l1f_1.--active:after {
	opacity: 1
}

._ctaResponsiveButtonLink_12l1f_36,
._ctaResponsiveButtonLink_12l1f_37 {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 1.25rem;
    height: 2.25rem;
	align-self: center;
	color: var(--color-gray-95);
    background: var(--color-gray-10);
	border: 0;
	border-radius: 7px;
	text-decoration: none;
	transition-property: color, border;
	transition-duration: var(--transition-duration-long);
    background: var(--header-color-gray-1);
}

._ctaResponsiveButtonLink_12l1f_36 {
    background: #fff;
}

@media (min-width: 1120px) {
    ._ctaResponsiveButtonLink_12l1f_36,
	._ctaResponsiveButtonLink_12l1f_37 {
		font-size: 0.875rem;
        font-weight: 600;
		padding: 0 1.25rem;
		display: flex;
		justify-content: center;
		align-items: center;
		text-decoration: none;
        height: 2.25rem;
		transition-property: color;
		transition-duration: var(--transition-duration-long);
		color: var(--color-gray-95);
        background: var(--color-gray-10);
		font-smooth: always;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		position: relative;
		align-self: center;
		border: none;
        transition: var(--transition-duration-short);
	}

    ._ctaResponsiveButtonLink_12l1f_36 {
        background: #fff;
        margin-right: 0.5rem;
    }

    ._ctaResponsiveButtonLink_12l1f_36:hover,
	._ctaResponsiveButtonLink_12l1f_37:hover {
        background: var(--color-gray-20);
		text-decoration: none;
	}

	._ctaResponsiveButtonLink_12l1f_37:after {
		display: none;
	}

	._ctaResponsiveButtonLink_12l1f_37:hover:after {
		opacity: 1
	}

	._ctaResponsiveButtonLink_12l1f_37.--active:after {
		opacity: 1
	}
}

._ctaResponsiveButtonLinkMobilePrimary_12l1f_90 {
	width: 100%;
	box-sizing: border-box;
	border-radius: 3px;
	border: 2px solid var(--button-cta-background-color);
	color: var(--button-cta-text-color);
	background-color: var(--button-cta-background-color)
}

._ctaResponsiveButtonLinkMobileSecondary_12l1f_99 {
	width: 100%;
	box-sizing: border-box;
	border-radius: 3px;
	border: 2px solid var(--button-cta-secondary-text-color);
	color: var(--button-cta-secondary-text-color);
	background-color: var(--button-cta-secondary-background-color)
}

._ctaLinkLink_zj9ee_1 {
	font-size: 0.875rem;
	padding: 0 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	transition-property: color;
	transition-duration: var(--transition-duration-long);
	color: var(--header-text-color);
	font-smooth: always;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	position: relative
}

._ctaLinkLink_zj9ee_1:hover {
	color: var(--header-text-hover-color);
	text-decoration: none
}

._ctaLinkLink_zj9ee_1:after {
	content: " ";
	width: calc(100% - 24px);
	position: absolute;
	left: 12px;
	bottom: 0;
	border-bottom: 3px solid var(--glow-purple);
	opacity: 0;
	transition: opacity var(--transition-duration-long)
}

._ctaLinkLink_zj9ee_1:hover:after {
	opacity: 1
}

._ctaLinkLink_zj9ee_1.--active:after {
	opacity: 1
}

._ctaLinkButton_sly0r_1 {
	font-family: Inter, Helvetica Neue, Helvetica, sans-serif;
	padding: 0 12px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0.875rem;
	font-weight: 500;
	text-decoration: none;
	transition-property: color, border;
	transition-duration: var(--transition-duration-long);
	font-smooth: always;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: var(--header-text-color);
	border: none;
	background-color: transparent;
	position: relative;
	cursor: default;
    line-height: 3.5rem;
}

._ctaLinkButton_sly0r_1:after {
	content: " ";
	width: calc(100% - 24px);
	position: absolute;
	left: 12px;
	bottom: 0;
	border-bottom: 3px solid var(--glow-purple);
	opacity: 0;
	transition: opacity var(--transition-duration-long);
    display: none;
}

._ctaLinkButton_sly0r_1:hover:after {
	opacity: 1
}

._ctaLinkButton_sly0r_1.--active:after {
	opacity: 1
}

._ctaLinkButton_sly0r_1:hover {
	color: var(--header-text-hover-color)
}

._ctaLinkButton_sly0r_1:hover ._icon_sly0r_40 {
	fill: var(--header-text-hover-color)
}

._ctaLinkButton_sly0r_1.--active {
	color: var(--header-text-hover-color)
}

._ctaLinkButton_sly0r_1.--active ._icon_sly0r_40 {
	fill: var(--header-text-hover-color)
}

._ctaLinkButton_sly0r_1 ._icon_sly0r_40 {
	margin-left: 8px
}

._icon_sly0r_40 {
	fill: var(--header-text-color)
}

._flyoutWrapper_1bx67_1 {
	--desktop-drawer__x-section-padding: 20px;
	/* --desktop-drawer__left-container-width: min(806px, calc(100vw - var(--desktop-content--x-padding) * 2) * .6); */
    --desktop-drawer__left-container-width: auto;
	--desktop-drawer__height-rounding-fix: 1px;
	--desktop-drawer__padding-top: calc(40px + var(--desktop-drawer__height-rounding-fix));
	--desktop-drawer__body-grid-margin-bottom: 24px;
	display: none;
}

#siteHeaderArrow {
    --siteHeaderArrowOffset: 0;
    position: absolute;
    top: 100%;
    left: 0;
    margin: -6px 0 0 0;
    width: 12px;
    height: 12px;
    transform: translateY(12px) translateX(var(--siteHeaderArrowOffset)) rotate(45deg);
    border-radius: 3px 0 0 0;
    background-color: #fff;
    box-shadow: -3px -3px 5px rgba(82, 95, 127, .04);
    transition-property: transform;
    transition-duration: 250ms;
    z-index: 9;
}

#siteHeaderArrow.show-arrow {
    transform: translateY(0) translateX(var(--siteHeaderArrowOffset)) rotate(45deg);
}

._tabPanelLeftArea_1bx67_77 {
    margin-top: 1.5rem;
}

@media (min-width: 1120px) {
	._flyoutWrapper_1bx67_1 {
        --translateX-value: 0;
		grid-template-columns: var(--desktop-main-template-columns);
		grid-template-rows: 1fr;
		display: grid;
		grid-column: full-width;
		width: auto;
        height: auto;
		position: absolute;
		max-height: calc((100vh - var(--header--bottom-position)) * .9);
		padding: 0;
		background-color: #fff;
		box-shadow: 0 1rem 4rem #22222222;
		opacity: 0;
        border-radius: 1rem;
		bottom: var(--header--height);
        transform: translateY(100%) translateX(var(--translateX-value));
        will-change: transform, width, height;
		transition: 250ms;
        transition-property: transform, width, height;
        z-index: -1;
	}

	._flyoutWrapper_1bx67_1.state--open {
		opacity: 1;
        /* height: calc(var(--dropdown-body--height) + var(--desktop-drawer__body-grid-margin-bottom) + var(--desktop-drawer__padding-top) + var(--dropdown-footer--height)); */
        height: auto;
		bottom: var(--desktop-drawer__height-rounding-fix);
		transform: translateY(100%) translateX(var(--translateX-value));
        z-index: 2;
	}

	._flyoutWrapper_1bx67_1 ._flyoutRightBackground_1bx67_31 {
		position: absolute;
		background-color: var(--color-gray-10);
		border-left: 1px solid var(--color-gray-30);
		bottom: var(--dropdown-footer--height);
		right: 0;
		height: calc(100% + var(--header--height) - var(--dropdown-footer--height));
		--content-side-padding: 1rem;
		width: 100%;
	}

	._flyoutWrapper_1bx67_1 ._flyoutTabPanelsWrapper_1bx67_41 {
		grid-column: full-width;
		position: relative;
		grid-template-columns: var(--desktop-main-template-columns);
		/* margin-bottom: var(--desktop-drawer__body-grid-margin-bottom); */
        margin-bottom: 0;
		overflow-y: visible;
		overflow-x: hidden
	}

	._flyoutWrapper_1bx67_1 ._flyoutTabPanels_1bx67_41 {
		grid-column: content
	}

	._flyoutWrapper_1bx67_1 ._tabPanel_1bx67_53 {
		display: none;
		position: relative;
		padding-bottom: 0x;
		grid-template-columns: var(--desktop-drawer__left-container-width) 1fr;
		z-index: var(--z-index-front-content);
		pointer-events: none
	}

	._flyoutWrapper_1bx67_1 .global-navigation-open-tab {
		display: grid;
		animation: 350ms linear forwards 1 _flyout-fade-in_1bx67_1;
		pointer-events: all
	}

	@keyframes _flyout-fade-in_1bx67_1 {
		0% {
			opacity: 0
		}

		40% {
			opacity: 0
		}

		to {
			opacity: 1
		}
	}

	._flyoutWrapper_1bx67_1 ._tabPanelLeftArea_1bx67_77 {
		display: grid;
		grid-template-columns: 12.75rem 13.75rem 12.75rem;
		gap: 1.5rem;
		margin-right: var(--desktop-drawer__x-section-padding);
        padding-left: 1.5rem;
	}

	._flyoutWrapper_1bx67_1 ._tabPanelRightArea_1bx67_83 {
		padding-left: 1.5rem;
        padding-top: 1.5rem;
		flex-grow: 1;
        background: var(--color-gray-10);
        min-width: 200px;
        border-left: 1px solid var(--color-gray-30);
	}

	._flyoutWrapper_1bx67_1 ._tabSection_1bx67_88 {
		display: flex;
		flex-direction: column;
        padding-bottom: 1.5rem;
	}

    ._flyoutWrapper_1bx67_1 ._tabSection_1bx67_88:nth-of-type(4),
    ._flyoutWrapper_1bx67_1 ._tabSection_1bx67_88:nth-of-type(5) {
        padding-bottom: 0;
    }

	._flyoutWrapper_1bx67_1 ._--span-two-columns_1bx67_92 {
		grid-column: span 2
	}

	._flyoutWrapper_1bx67_1 ._tabSection__items-area_1bx67_95 {
		display: flex
	}

	._flyoutWrapper_1bx67_1 ._desktop-drawer-section__item_1bx67_98 {
		list-style: none;
		margin-bottom: 0
	}

	._flyoutWrapper_1bx67_1 ._desktop-drawer-section__item_1bx67_98:not(:first-child) {
		margin-top: 20px
	}

	._flyoutWrapper_1bx67_1 ._desktop-drawer-section__item--pad-top_1bx67_105:not(:first-child) {
		margin-top: 32px
	}

	._flyoutWrapper_1bx67_1 ._--two-columns-grid_1bx67_108 {
		display: grid;
		grid-template-columns: 1fr 1fr;
		width: 100%;
		gap: var(--desktop-drawer__x-section-padding)
	}

	._flyoutWrapper_1bx67_1 ._tabSection__name_1bx67_114 {
		position: relative;
		font-size: 11px;
		color: var(--color-gray-80);
		font-weight: 600;
		letter-spacing: 0.5px;
		text-transform: uppercase;
		padding-bottom: 0.5rem;
		margin-bottom: 1rem;
	}

	._flyoutWrapper_1bx67_1 ._tabSection__name_1bx67_114:before {
		position: absolute;
		bottom: 0;
		content: "";
		width: 100%;
		height: 1px;
		background-color: var(--color-gray-20);
        display: none;
	}
}

@media screen and (min-width: 101.25rem) {
    ._main-navigation_znbpc_74 {
        width: 100rem;
        margin: 0 auto;
        display: block;
    }
}

@media (min-width: 1360px) {
	._flyoutWrapper_1bx67_1 {
		--desktop-drawer__x-section-padding: 1rem;
	}
}

._flyoutFooter_1bx67_139 {
	display: grid;
	grid-template-columns: 1fr;
	height: 42px;
	background-color: var(--color-gray-40);
	justify-content: center;
	color: var(--header-color-black-6);
	font-size: 12px;
    display: none;
}

@media (min-width: 1120px) {
	._flyoutFooter_1bx67_139 {
		grid-column: full-width;
		height: var(--dropdown-footer--height);
		grid-template-columns: var(--desktop-main-template-columns)
	}
}

._flyoutFooter_1bx67_139 ._flyoutFooter__buttons_1bx67_155 {
	display: grid;
	grid-template-columns: 1fr auto 1fr auto 1fr
}

@media (min-width: 1120px) {
	._flyoutFooter_1bx67_139 ._flyoutFooter__buttons_1bx67_155 {
		grid-column: content;
		display: flex;
		align-items: center;
		gap: 5rem;
	}
}

._flyoutFooter_1bx67_139 ._flyoutFooter__button_1bx67_155 {
	display: flex;
	justify-content: center;
	font-size: 12px;
	color: var(--header-color-black-6);
	text-decoration: none
}

._flyoutFooter_1bx67_139 ._flyoutFooter__button_1bx67_155:hover {
	color: var(--header-color-black-2)
}

._flyoutFooter_1bx67_139 ._flyoutFooter__separator_1bx67_177 {
	width: 1px;
	height: 21px;
	background-color: var(--header-color-grey-11)
}

._card-link_8j75l_1 {
	display: flex;
	flex-direction: column;
	position: relative;
	gap: 8px;
	text-decoration: none
}

._card-link_8j75l_1 ._card-link__name_8j75l_8 {
	position: relative;
	font-size: 0.875rem;
	font-weight: 500;
	color: var(--color-gray-90);
	line-height: 150%;
	display: flex;
	flex-wrap: nowrap
}

@media (min-width: 1120px) {
	._card-link_8j75l_1 {
		padding: 0
	}
}

._card-link_8j75l_1 ._card-link__name_8j75l_8>svg:first-child {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0
}

._card-link_8j75l_1 ._card-link__name_8j75l_8>svg:last-child {
	position: absolute;
    right: 0;
    top: calc(50% - 0.55rem);
    width: 1.2rem;
    height: 1.2rem;
}

._card-link_8j75l_1 ._card-link__name_8j75l_8>svg:last-child path:first-child {
    fill: var(--color-gray-60);
	transform: translateX(-0.15rem);
	transition: transform 150ms cubic-bezier(0.215,0.61,0.355,1);
    opacity: 0;
}

._card-link_8j75l_1 ._card-link__name_8j75l_8>svg:last-child path:last-child {
    fill: var(--color-gray-60);
	opacity: 0;
	transition: opacity 150ms cubic-bezier(0.215,0.61,0.355,1);
}

._card-link_8j75l_1:hover ._card-link__name_8j75l_8>svg:last-child path:first-child {
	transform: none;
    opacity: 1;
}

._card-link_8j75l_1:hover ._card-link__name_8j75l_8>svg:last-child path:last-child {
	opacity: 1;
}

._card-link_8j75l_1 ._card-link__name--pad-left_8j75l_33 {
	padding-left: 1.5rem;
}

._card-link_8j75l_1 ._card-link__name--is-bold_8j75l_41 {
	font-weight: 500
}

._card-link_8j75l_1 ._card-link__summary_8j75l_44 {
	display: inline-block;
	font-size: 12px;
	line-height: 1.6;
	color: var(--header-color-black-5);
	font-weight: 400;
	margin-bottom: 12px !important
}

._header_znbpc_12 ul {
    width: calc(100% - 1rem);
}

._card-link_8j75l_1:hover ._card-link__name_8j75l_8 {
    color: var(--color-gray-95);
}

._card-link_8j75l_1::before {
    --extra-padding: 0.5rem;
	content: "";
	position: absolute;
	border-radius: 4px;
	width: calc(100% + var(--extra-padding) * 1.5);
	height: calc(100% + var(--extra-padding) * 2);
	top: calc(-1 * var(--extra-padding));
	left: calc(-1 * var(--extra-padding));
    background-color: var(--color-gray-10);
	z-index: -1;
	opacity: 0;
    scale: (1);
    transition: 80ms linear
}

._card-link_8j75l_1:hover:before {
    opacity: 1;
	transform: scale(1.05);
}

/* ._card-link_8j75l_1:hover ._card-link__name_8j75l_8>svg:last-child {
	animation: _slide-right_8j75l_1 .5s cubic-bezier(.25, .46, .45, .94) infinite alternate both
} */

@keyframes _slide-right_8j75l_1 {
	0% {
		transform: translateY(0)
	}

	to {
		transform: translate(50%)
	}
}

._icon_423ua_1 {
    --icon-color: var(--black-1000);
    fill: var(--header-text-color);
  }
  ._cta-base_1vr5j_1 {
    background-color: #0d0e10;
    border-radius: 3px;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    height: 36px;
    letter-spacing: 0.5px;
    line-height: 36px;
    padding: 0 16px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.15s, color 0.15s ease-in-out;
  }
  ._cta-base_1vr5j_1:hover {
    background-color: #f06a6a;
    border-bottom: none;
    color: #0d0e10;
    text-decoration: none;
  }
  ._cta-base_1vr5j_1:active {
    box-shadow: none;
    outline: 0;
  }
  ._cta-base_1vr5j_1::selection {
    background-color: none;
  }
  ._cta-base_1vr5j_1[disabled],
  ._cta-base_1vr5j_1[disabled]:hover,
  ._cta-base_1vr5j_1[disabled]:active,
  ._cta-base_1vr5j_1[disabled]:focus {
    background-color: #edf1f2;
    border: 1px solid #d5dce0;
    color: #9ca6af;
    cursor: not-allowed;
  }
  